.game-event {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    background-color: #777;
    color: white;
    padding: 20px;
    z-index: 100;
}

.game-event-me {
    top: 75%;
    left: 50%;
}

.game-event-opponent-1 {
    top: 25%;
    left: 50%;
}

.game-event-opponent-2 {
    top: 50%;
    left: 25%;
}

.game-event-opponent-3 {
    top: 50%;
    left: 75%;
}
