.board {
    display: grid;
    box-sizing: border-box;
    position: absolute;
    overflow: scroll;
    border-radius: 10px;

    height: 100%;
    width: 100%;
    background-color: silver;
    box-shadow: 1px 2px 2px hsl(220deg 100% 0% / 0.333);
}
